body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: "Roboto", sans-serif;
    color: #fff;
    background-color: #232629;
  }
  
  h2 {
    margin-top: 30px;
    font-size: 1.7em;
    line-height: 1;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  
  
  /* PUSH MENU */
  
  #menu-switch {
    display: none;
  }
  
  #menu {
    position: fixed;
    top: 0;
    right: -240px;
    width: 240px;
    height: 100%;
    padding: 50px 0;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
    text-align: center;
    background-color: #313745;
  }
  
  #menu .brand {
    height: 51px;
    font-size: 40px;
    font-family: "Century Gothic";
    letter-spacing: -3px;
    line-height: .6;
    color: #000;
  }
  
  #menu ul {
    padding: 0;
    margin-top: 30px;
    list-style: none;
  }
  
  #menu ul li a {
    display: block;
    padding: 15px 0;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    border-top: 1px solid #464d5f;
  }
  
  #menu ul li:last-child a {
    border-bottom: 1px solid #464d5f;
  }
  
  #menu ul li:hover {
    background-color: #eee;
  }
  
  #menu-switch:checked ~ #menu {
    right: 0;
  }
  
  
  /* MAIN PAGE */
  
  .page-wrap {
    padding: 30px 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
  }
  
  #menu-switch:checked ~ .page-wrap {
    margin-right: 240px;
  }
  
  
  /* MENU TOGGLE ICON */
  
  #menu-toggle {
    float: right;
    display: inline-block;
    position: relative;
    width: 51px;
    height: 51px;
    cursor: pointer;
    border: none;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background: #ff0099;
  /*   -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease; */
    transition: all .3s ease;
  }
  
  #menu-toggle:before,
  #menu-toggle:after {
    position: absolute;
    content: "";
    background-color: #000;
  }
  
  #menu-toggle:before {
    top: 21px;
    left: 13px;
    width: 27px;
    height: 2px;
  }
  
  #menu-toggle:after {
    top: 29px;
    left: 13px;
    width: 27px;
    height: 2px;
  }
  
  #menu-switch:checked ~ .page-wrap #menu-toggle:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 25px;
    left: 13px;
    width: 27px;
    height: 2px;
  }
  
  #menu-switch:checked ~ .page-wrap #menu-toggle:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 26px;
    left: 13px;
    width: 28px;
    height: 2px;
  }