/* @keyframes App-logo-spin {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(90px) rotate(45deg);
  }
  100% {
    transform: translateY(0px) rotate(90deg);
  }
}

/* Media Queries should be at the bottom of your file */

/* @media(max-width: 1000px){
  .App-header {
    background: goldenrod;
  }
}

@media(max-width: 800px){
  .App-header {
    background: red;
  }
} */

nav {
  width: 100%;
  border-bottom: 1px Solid #111;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
}

.desktop-navigation {
  margin: 0;
  list-style-type: none;
  display: flex;
  padding: 0;
}

.desktop-navigation li {
  margin: 0 .5em;
}
.mobile-navigation {
  display: none;
}
.mobile-navigation .line {
  height: 1px;
  width: 20px;
  background: #111;
}
.mobile-navigation .line:nth-child(odd){
  margin: .3em 0;
}

@media(max-width: 600px){
  .desktop-navigation {
    display: none;
  }
  .mobile-navigation {
    display: initial;
  }
}
